### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd 
import numpy as np

df = pd.DataFrame

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
gaming_data = pd.read_csv(file_to_load)
gaming_data.tail(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
#create variables 
gender = gaming_data["Gender"]
sn = gaming_data["SN"]
age = gaming_data["Age"]
item_id = gaming_data["Item ID"]
price = gaming_data["Price"]
item_name = gaming_data["Item Name"]

## Player Count

* Display the total number of players

In [3]:
pd.value_counts(gaming_data['SN'].values)
total_players_df = pd.DataFrame({"Total Players": [576]})
total_players_df

   Total Players
0            576

In [4]:
# total_players = [576]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# avarage price 
price.mean()

3.050987179487176

In [6]:
#sum revenue
price.sum()

2379.77

In [7]:
#get count of unique items 
item_id.nunique()

total_df = df({"Number Of Unique Items": [183],
             "Avarage Price": [3.05],
             "Number of Purchases": [780],
             "Total Revenue": [2379.77]})
total_df

   Number Of Unique Items  Avarage Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [8]:
item_id.describe()

count    780.000000
mean      92.114103
std       52.775943
min        0.000000
25%       48.000000
50%       93.000000
75%      139.000000
max      183.000000
Name: Item ID, dtype: float64

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gender_df = df({
    "Gender":["Male", "Female", "Other/Non-Disclosed"],
    "Total Count":[652,113,15],
    "Percentage of Players":[84.08,14.48,2.0]
})

gender_df

                Gender  Total Count  Percentage of Players
0                 Male          652                  84.08
1               Female          113                  14.48
2  Other/Non-Disclosed           15                   2.00

In [10]:
 gender.value_counts(normalize=True)

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [11]:
gender.value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
gender.describe()

count      780
unique       3
top       Male
freq       652
Name: Gender, dtype: object


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
gaming_data = pd.read_csv(file_to_load)
gaming_data.tail(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [14]:
# male_purchase = df[gender/male/price.count]
# full_count = sn.unique
# male_count = df[gender == gender('Male'), sn].nunique()

# fullcount = df["SN"].nunique()
# malecount = df[df["Gender"] == "Male"]["SN"].nunique()
# femalecount = df[df["Gender"] == "Female"]["SN"].nunique()
# purchase count by gender

# df.set_index(["Person", "Single"]).count(level="Person")
gaming_data.set_index(["Gender", "SN"]).count(level="Gender")

                       Purchase ID  Age  Item ID  Item Name  Price
Gender
Female                         113  113      113        113    113
Male                           652  652      652        652    652
Other / Non-Disclosed           15   15       15         15     15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
bins = ["Male", "Female", "Other"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame